@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #E7BAB7;
  --secondary: #100F18;
  --accent: #D6945B;
  --highlight: #BB49AF;
  --info: #1227B3;
  --light: #D2D2D3;
}

body {
  background-color: var(--secondary);
  color: var(--light);
  font-family: 'Inter', sans-serif;
}
